*{
  box-sizing: border-box;
}

.app {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: beige;
}

body {
  margin:0;
  font-family: sans-serif;
}

.status {
  font-size: 1.5rem;
  margin: 1em;
}

.reset {
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  padding: 0.5em 1.5em;
  margin-top: 2em;
  margin-bottom: 7em;
  border-radius: 2em;

}

.reset:hover {
  box-shadow: 1px 1px #888;
}